<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.abc.springabc.dao.UserDao">
    <select id="getUserList" resultType="com.abc.springabc.entity.User">
        select * from mybatis.user
    </select>
</mapper>
